body {
  background-color: #0a192f;
  color: #ccd6f6;
}
nav {
  text-align: right;
  padding: 0.5em 1em 0 0;
}
.resume {
  border: solid 1px #5ef5da;
  padding: 0.1em 0.25em;
  border-radius: 5px;
}
main {
  display: grid;
  padding: 2px;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5px;
}
.main-left {
  padding: 2%;
  text-align: center;
  border-right: 2px #5ef5da solid;
}
.profile-image {
  border-radius: 50%;
  border: solid 1px #5ef5da;
  width: 40%;
}
.user-desc {
  padding: 0 10%;
}
a.contact {
  margin: 10px;
}
.contact {
  border: solid 1px;
  border-radius: 5px;
  padding: 2%;
}
.main-right {
  display: grid;
  padding-left: 2%;
  grid-template-rows: 1fr 1fr 20%;
  grid-row-gap: 5px;
}
.education {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
}
.edu-head h2 {
  /* margin: 0; */
  padding: 0;
}
.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tile {
  margin: 5px;
  border: solid 1px #5ef5da;
  border-radius: 5px;
  padding: 3% 5% 3% 5%;
  display: grid;
  grid-row-gap: 0.5em;
}
.college h3 {
  margin: 0;
}
.projects {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
}
.project-link a {
  border: solid 1px;
  border-radius: 5px;
  padding: 1%;
}
.extra-suggestion {
  margin: 5px;
}
.extra-suggestion-desc {
  border: solid 1px #5ef5da;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 0;
}
.github-link {
  border: solid 1px;
  border-radius: 5px;
  padding: 1% 2%;
}
h2 {
  margin-bottom: 4px;
}
h3 {
  margin-bottom: 0;
}
h4 {
  margin-bottom: 0;
  font-size: 1.4em;
}
ul.skills {
  list-style-position: inside;
  margin-bottom: 2.1em;
  padding: 0;
}
li {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: #5ef5da;
}
.degree h4 {
  margin-top: 7px;
}
p {
  font-size: 22px;
}
.project-desc {
  font-size: 22px;
}
